/* Breakpoint */
/* Container */
/*
@mixin desktop {
  @media (min-width: 1040px) {
    @content;
  }
}

@mixin ipad {
  @media (min-width: 600px) and (max-width: 1039px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 599px) {
    @content;
  }
}
*/
.lesson {
  width: 100vw;
  width: 100vh;
  overflow: hidden;
  position: relative;
  /*
  .meteorite-lesson-1,
  .meteorite-lesson-2 {
    position: absolute;
    animation: floatAndRotate 5s linear infinite;
  }

  @keyframes floatAndRotate {
    0% {
      transform: translateY(100%) rotate(0deg); 
    }
    100% {
      transform: translateY(0%) rotate(360deg); 
    }
  }
  */
}
.lesson .navbar {
  width: 1080px;
  margin: 0 auto;
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  position: relative;
}
.lesson .navbar-left, .lesson .navbar-right {
  z-index: 999;
  list-style: none;
  display: flex;
  margin: 0;
}
@media (max-width: 600px) {
  .lesson .navbar-left, .lesson .navbar-right {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
}
.lesson .navbar-left li, .lesson .navbar-right li {
  margin: 0 32px;
}
@media (max-width: 600px) {
  .lesson .navbar-right li {
    margin: 0;
    margin-right: 20px;
  }
}
.lesson .navbar-right li a,
.lesson .navbar-right li .sound-volumne {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .lesson .navbar-right li a,
  .lesson .navbar-right li .sound-volumne {
    font-size: 8.77px;
  }
  .lesson .navbar-right li a img,
  .lesson .navbar-right li .sound-volumne img {
    width: 18px;
    height: auto;
  }
}
.lesson .navbar-left li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbb03b;
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .lesson .navbar-left li a {
    font-size: 16px !important;
  }
}
.lesson .navbar-left li img {
  margin-right: 22px;
}
@media (max-width: 600px) {
  .lesson .navbar-left li img {
    width: 16px;
    height: 16px;
    margin-right: 10px !important;
  }
}
.lesson .navbar-center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 600px) {
  .lesson .navbar-center {
    display: none;
  }
}
@media (max-width: 1040px) {
  .lesson .navbar {
    width: 830px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 600px) {
  .lesson .navbar {
    width: 100% !important;
    margin-top: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
  }
}
.lesson .rocket-decoration {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
}
@media (max-width: 1040px) {
  .lesson .rocket-decoration {
    width: 110px;
    height: auto;
  }
}
.lesson .buttons .previous-section {
  position: absolute;
  bottom: 50%;
  margin-left: 46px;
  width: 69px;
  height: 135px;
}
.lesson .buttons .next-section {
  position: absolute;
  bottom: 50%;
  right: 0;
  margin-right: 46px;
  width: 69px;
  height: 135px;
}
@media (max-width: 600px) {
  .lesson .buttons {
    display: none;
  }
}
.lesson .lesson-content {
  width: 1080px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1040px) {
  .lesson .lesson-content {
    width: 830px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 600px) {
  .lesson .lesson-content {
    width: 100%;
    max-width: 352px;
  }
}
.lesson .lesson-content .subtitle {
  color: #fbb03b;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 367px;
  margin-bottom: 29px;
}
@media (max-width: 600px) {
  .lesson .lesson-content .subtitle {
    font-size: 14px;
  }
}
.lesson .lesson-content .rocket-bar-section {
  width: 560px;
  height: 7.64px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 600px) {
  .lesson .lesson-content .rocket-bar-section {
    width: 100%;
  }
}
.lesson .lesson-content .rocket-bar-section .rocket-bar {
  width: 100%;
}
@media (max-width: 600px) {
  .lesson .lesson-content .rocket-bar-section .rocket-bar {
    width: 100%;
  }
}
.lesson .lesson-content .rocket-bar-section .rocket-bar-item {
  position: absolute;
  left: 0;
  top: -19px;
  z-index: 3;
}
@media (max-width: 600px) {
  .lesson .lesson-content .rocket-bar-section .rocket-bar-item {
    top: -10px;
    width: 40px;
  }
}
.lesson .lesson-content .rocket-bar-section .rocket-bar-background {
  width: 0%;
  height: 7px;
  position: absolute;
  left: 0;
  top: -4px;
  background-color: #fbb03b;
  border-radius: 6px;
}
@media (max-width: 600px) {
  .lesson .lesson-content .rocket-bar-section .rocket-bar-background {
    top: -1px;
    height: 4px;
  }
}
.lesson .lesson-content .text {
  background-color: rgb(26, 43, 53);
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding: 25px 53px;
  border-radius: 24px;
  position: relative;
  margin-bottom: 16px;
}
@media (max-width: 1040px) {
  .lesson .lesson-content .text {
    font-size: 16.62px;
  }
}
@media (max-width: 600px) {
  .lesson .lesson-content .text {
    font-size: 10px;
    line-height: 16px;
    padding: 18px 40px;
    border-radius: 16px;
    margin-bottom: 42px;
    padding-bottom: 16px;
  }
}
.lesson .lesson-content .next-section {
  display: flex;
  align-items: center;
  float: right;
  color: #eeeeee;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
@media (max-width: 1040px) {
  .lesson .lesson-content .next-section {
    font-size: 14px !important;
  }
}
.lesson .lesson-content .next-section img {
  margin-left: 13px;
}
@media (max-width: 600px) {
  .lesson .lesson-content .next-section {
    display: none;
  }
}
.lesson .lesson-content .next-section-mobile {
  display: none;
  color: #a6a6a6;
  font-size: 12px;
  font-weight: 400;
  bottom: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.lesson .lesson-content .next-section-mobile img {
  margin-left: 10px;
  width: 13px;
  height: 13px;
}
@media (max-width: 600px) {
  .lesson .lesson-content .next-section-mobile {
    display: flex;
    text-align: center;
    padding-top: 16px;
  }
}
.lesson .meteorite-lesson-1 {
  position: absolute;
  left: 15%;
  bottom: -40%;
  z-index: 1;
}
@media (max-width: 600px) {
  .lesson .meteorite-lesson-1 {
    left: 7%;
    width: 40px;
  }
}
.lesson .meteorite-lesson-2 {
  position: absolute;
  right: 15%;
  bottom: -10%;
  z-index: 1;
}
@media (max-width: 600px) {
  .lesson .meteorite-lesson-2 {
    right: 7%;
    width: 50px;
  }
}
@keyframes floatAndRotate1 {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-140vh) rotate(-440deg);
  }
}
@keyframes floatAndRotate2 {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-110vh) rotate(400deg);
  }
}
.lesson .meteorite-lesson-1 {
  position: absolute;
  animation: floatAndRotate1 70s linear infinite; /* Adjust the duration as needed */
}
.lesson .meteorite-lesson-2 {
  position: absolute;
  animation: floatAndRotate2 65s linear infinite; /* Adjust the duration as needed */
}
.lesson .sound-volumne {
  cursor: pointer;
}/*# sourceMappingURL=Lesson.css.map */