@import "../../variables.scss";
.video3d {
  width: 100vw;
  width: 100vh;
  overflow: hidden;
  position: relative;
  .navbar {
    width: 1080px;
    margin: 0 auto;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
    &-left,
    &-right {
      z-index: 999;
      list-style: none;
      display: flex;
      margin: 0;
      @include mobile {
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
      }
      li {
        margin: 0 32px;
        a {
        }
      }
    }
    &-right {
      li {
        @include mobile {
          margin: 0;
          margin-right: 20px;
        }
        a,
        .sound-volumne {
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;
          @include mobile {
            font-size: 8.77px;
            img {
              width: 18px;
              height: auto;
            }
          }
        }
      }
    }
    &-left {
      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fbb03b;
          font-size: 24px;
          font-weight: 400;
          @include mobile {
            font-size: 16px !important;
          }
        }
        img {
          margin-right: 22px;
          @include mobile {
            width: 16px;
            height: 16px;
            margin-right: 10px !important;
          }
        }
      }
    }

    &-center {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      color: white;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      @include mobile {
        display: none;
      }
    }

    @include ipad {
      width: $ipad-container;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include mobile {
      width: 100% !important;
      margin-top: 0px !important;
      padding-left: 0px;
      padding-right: 0px;
      margin: 0;
    }
  }

  .rocket-decoration {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
  }
  .buttons {
    .previous-section {
      position: absolute;
      bottom: 50%;
      margin-left: 46px;
      width: 69px;
      height: 135px;
    }
    .next-section {
      position: absolute;
      bottom: 50%;
      right: 0;
      margin-right: 46px;
      width: 69px;
      height: 135px;
    }
  }
  .youtube {
    text-align: center;
    position: relative;
    top: 10%;
    iframe {
      @include ipad {
        width: 822px;
        height: 464px;
      }
      @include mobile {
        width: 411px;
        height: 232px;
      }
    }
  }
}
